.renhe-nav {
	background-color: #313131;
	.container {
		padding-left: 9px;
  		padding-right: 9px;
	}
	.renhe-logo {
		padding: 12px 0;
	}
	.navbar-inverse {
		min-height: 75px;
		border-radius: 0;
		@media (min-width: 995px){
			.navbar-nav {
				margin-left:15%;
			}
		}
		.navbar-nav > li > a {
			font-size: 16px;
		}
		.navbar-nav > .active > a {
			background-color: transparent;
			> .rh-arrow {
				display: inline-block;
			}
		}
		.navbar-toggle {
			margin-top: 20px;
		}
		.navbar-collapse {
			padding-top: 14px;
			max-width: 980px;
		}
		.navbar-brand {
			height: auto;
		}
		.navbar-setting {
			position: relative;
			padding: 10px 0 10px 15px;
			> .seticon {
				font-size: 20px;
				text-decoration: none;
				color:#fff;
			}
			.dropdown-menu {
				min-width:105px;
				top:87%;
			}
			.sarow {
				width:0;
				height:0;
				line-height:0;
				position: absolute;
				border: 15px solid transparent;
				border-left: 15px solid #313131;
				border-bottom: 10px solid #fff;
				z-index: 10000;
				top: -10px;
  				right: 3px;
			}
		}
		.navbar-form {
			padding: 0px 10px;
			input.form-control {
				width: 220px;
				padding-right:38px;
				border-radius: 20px;
				background-color: #424242;
				border: 0;
				color: #a0a0a0;
				box-shadow: inherit;
				&:focus {
					border: 0;
					outline: 0;
					box-shadow: inherit;
				}
			}
			.btn-link {
				position: absolute;
				right: 0;
				z-index: 10;
				top: 3px;
				color: #a9a8a8;
				&:hover,&:active,&:visited,&:focus {
					text-decoration: none;
					outline: 0;
				}
			}
		}
		.rh-arrow {
			display: none;
			position: absolute;
			border:8px solid transparent;
			border-bottom-color: #eeeeee;
			top: 45px;
			left: 50%;
			margin-left: -8px;
		}
	}

}