<li class="list-group-item">
  <input type="text" class="no-border" id="text" name="email" placeholder="注册邮箱" validate="{required:true,renheEmail:true}">
</li>
<li class="list-group-item">
  <input type="password" class="no-border" name="password" placeholder="设置密码" validate="{required:true,minlength:6}">
</li>

</ul>